* {
  margin: 0px 1%;
  padding: 0;
  font-family: "Merriweather", serif;
  color: rgb(59, 56, 56);
  max-width: 100%;
}

/* ---------------------------------------------------------------
                      banner section styles                      
----------------------------------------------------------------*/

.banner {
  width: 99%;
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url(img/bannerr.jpeg);
  background-size: cover;
  background-position: inherit;
  border-radius: 20px;
}
.bannar-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  color: rgb(12, 40, 99);
  text-shadow: 1px 2px 3px rgb(48, 53, 97);
  animation: brand 1s ease-in-out 0.2s infinite alternate;
  animation-play-state: running;
}

@keyframes brand {
  0% {
    color: rgb(11, 66, 185);
  }
  50% {
    color: royalblue;
  }
  100% {
    color: royalblue;
  }
}

.f-word {
  animation: fword 1s ease-in-out 0.2s infinite alternate;
  animation-play-state: running;
  position: relative;
  top: 0px;
}

@keyframes fword {
  0% {
    top: 0px;
  }
  50% {
    left: 3px;
  }
  100% {
    top: 5px;
  }
}
.dot {
  animation: dot 2s ease 0.2s infinite alternate;
  animation-play-state: running;
  position: relative;
  left: -20px;
}

@keyframes dot {
  0% {
    left: -20px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 2px;
  }
}

.dot2 {
  animation: dot2 1s ease 0.2s infinite alternate;
  animation-play-state: running;
  position: relative;
  left: 0px;
}

@keyframes dot2 {
  0% {
    left: -10px;
  }
  50% {
    left: -10px;
  }
  100% {
    left: 10px;
  }
}

/* -----------------------------------------------------------------
                      About Us Section style
---------------------------------------------------------------------*/
.about-us {
  margin-top: 200px;
}
.person-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(4, 0, 255); */
  background-color: rgb(247, 250, 208);
  box-sizing: border-box;
  box-shadow: 4px 5px 8px rgb(0, 0, 0);
  border-radius: 15px;
}

.person-img img {
  width: 100%;
  border-radius: 10px 10px 0 0px;
}
.nuru {
  height: 600px;
}
.person-container {
  text-align: left;
  margin-bottom: 200px;
  cursor: pointer;
}
.person-info {
  width: 99%;
  padding-top: 80px;
  background: rgb(255,248,185);
background: linear-gradient(90deg, rgba(255,248,185,1) 0%, rgba(129,232,215,1) 99%);
  border-left: 2px solid royalblue;
  border-radius: 0px 0px 10px 10px;
  color: rgb(2, 2, 2);
}
.person-info p {
  color: black;
}

.us {
  text-align: center;
  margin-bottom: 150px;
}

.us h1 {
  font-size: 55px;
  font-weight: 700;
}
.us p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(80, 77, 77);
}

.primary-color {
  color:red;
}

.name {
  font-size: 50px;
  font-weight: 800;
  /* border-left: 3px solid  rgb(163, 8, 8); */
  /* padding-left: 20px; */
}
.phone-img img {
  display: none;
}

/*---------------------------------------------------------------------- 
                    !!! RESPONSOVE AREAA!!!!
 ----------------------------------------------------------------------*/

@media only screen and (max-width: 576px) {
  .banner {
    display: none;
  }
  .phone-img img {
    display: block;
    width: 500px;
    margin-top: -10px;
  }
  .person-container {
    flex-direction: column;
    background-color: rgb(247, 246, 244);
    padding-left: 5px;
  }
  .person-info {
    padding-top: 10px;
  }
  .about-us {
    margin-top: 50px;
  }
  .us {
    text-align: center;
    margin-bottom: 50px;
  }

  .person-img img {
    width: 100%;
  }
  .person-container {
    margin-bottom: 50px;
  }
  .nuru {
    height: 300px;
  }

  .us h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .us p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(80, 77, 77);
  }

  .name {
    font-size: 35px;
    font-weight: 800;
    /* border-left: 3px solid  rgb(163, 8, 8); */
    /* padding-left: 20px; */
  }
  .job {
    font-weight: bold;
    font-size: 19px;
  }
  .birthday {
    font-size: 18px;
  }
  .birth-place {
    font-size: 17px;
  }
  .current-place {
    font-size: 15px;
  }
  .fav-food {
    font-size: 14px;
  }
  .fav-teacher {
    font-size: 14px;
  }
  .perefer-marriage {
    font-size: 14px;
  }
  .hobby {
    font-size: 14px;
  }
  .fav-co {
    font-size: 14px;
  }
  .phone {
    font-weight: bold;
    font-size: 13px;
  }
  .email {
    font-size: 14px;
    font-weight: bold;
  }

  p {
    padding: 0px;
  }
  #meraz {
    flex-flow: column-reverse;
  }

  #mursalin {
    flex-flow: column-reverse;
  }
}
